@import url('https://fonts.googleapis.com/css?family=Monsterrat:400,600');

.hidden {
    display:none
}

body {
    margin: 50;
    font-family: "Montserrat";
    /* background-image: url(https://image.shutterstock.com/image-vector/welcome-poster-spectrum-brush-strokes-260nw-1146069941.jpg); */
    /* background-image: url(moon_hack.png); */
    background-color: aqua;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
}

/* blockquote {
    font-size: .9em;
    line-height: 1.6em;
} */

/* ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
} */

/* .container{
    text-align: center;
    padding: .8em 1.2em;
} */

/* ul li {
    text-align: right;
    color: brown;
} */

/* header {
    display: flex;
    justify-content: space-between;
} */

.show-dektop > li{
    text-align: right;
    /* float: right; */
    display: inline-block;
}

li {
    list-style-type: none;
    display: inline-block;
}

/* .butt{
    color: rgb(212, 0, 255);
    float: left;
} */

/* .footer-container {
    width: 100%;
    padding: 3em 0;
    border-top-right-radius: 40 px;
    
} */

/* .meetings {
    display: block;
} */